.menu-list-control {

}

.menu-list {
  position: relative;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;

  .menu-list-item {
    display: inline-flex;
    width: 100%;
    margin: 5px;
    border-color: #6d6d6d;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;

    .menu-item-title {
      position: relative;
      display: block;
      width: 70%;
      padding: 5px;
      float: left;
      min-height: 20px;

      label {
        font-family: $font-family;
        float: left;
        font-weight: bold;
        text-align: left;
        margin-left: 10px;
        color: black;
      }
    }

    .menu-item-action {
      position: relative;
      display: block;
      width: 30%;
      float: right;
      min-height: 20px;
      margin-right: 10px;

      ul {
        list-style: none !important;
        position: relative;
        float: right;

        li {
          list-style-type: none;
          float: left;
          display: block;
          text-align: center;
          text-decoration: none;

          .menu-item-action-button {
            display: block;
            font-family: "Open Sans", sans-serif;
            color: white;
            width: 70px;
            padding: 5px;
            margin-right: 5px;
            background-color: #679bf7;

            &:hover {
              background-color: #06ad68;
            }
          }
        }
      }
    }
  }
}



